html{
    background-color: black;
}
.post{
    background-color: whitesmoke;
    margin: 25%;
    height: 700px;
    width: 500px;
    display: block;
  
} 


#html5name > p {
    margin: 0%;
    margin-top: 5px;
    display: flex;
}


.threedots{
    height: 50px;
    width: 50px;
}

.first-sec {
    display:flex;
    justify-content: space-between;
}

.bottom-sec{
    display: flex;
    justify-content: space-between;
}

.threeicons{
    width: 50%;
    float: left;
    margin: 0;
    
}
